d172a-corpus.shard-9860000-9860127.tsv filter=lfs diff=lfs merge=lfs -text
d172a-corpus.shard-9860128-9860255.tsv filter=lfs diff=lfs merge=lfs -text
d172a-corpus.shard-9860256-9860383.tsv filter=lfs diff=lfs merge=lfs -text
d172a-corpus.shard-9860384-9860511.tsv filter=lfs diff=lfs merge=lfs -text
